.message-input {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;

  .message-input-text {
    width: 90%;
    height: 50px;
    font-size: 20px;
    border: 3px solid #818181;
    padding: 0 20px;
  }

  .message-input-button {
    display: inline-block;
    background-color: steelblue;
    padding: 10px 20px;
    border: 3px solid #306a9a;
    color: white;
    width: 10%;
    min-width: fit-content;
  }
}
