.edit-message-modal {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.397);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  transition: all 0.3s;
  &__container {
    display: flex;
    flex-direction: column;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: steelblue;
    border: 3px solid #306a9a;

    color: white;
  }

  &__title {
    margin-bottom: 20px;
    font-weight: 600;

    font-size: 22px;
  }

  &__input {
    margin-bottom: 30px;
    padding: 5px;
    font-size: 18px;
    outline: 3px solid #306a9a;
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    button {
      display: inline-block;
      background-color: white;
      color: #333;
      padding: 10px 20px;
      font-size: 14px;
      font-weight: 600;
      transition: all 0.3s ease;
      border: 3px solid #306a9a;

      &:hover {
        background-color: #306a9a;
        color: white;
        transform: scale(0.975);
      }
    }
  }

  .edit-message-close,
  .edit-message-button {
    text-align: center;
    width: fit-content;
    display: inline-block;
    padding: 10px 20px;
    position: initial;
    margin: 0;
    color: #333;
  }

  .edit-message-close {
    margin-right: 20px;
  }
}
