.App {
  padding: 0 15%;
  min-height: 100vh;
}

@media screen and (max-width: 920px) {
  .App {
    padding: 0;
  }

  .header * {
    font-size: 12px;
  }

  .message-list,
  .message-input {
    padding: 0 5%;
  }
}
