.own-message {
  display: flex;
  align-self: flex-end;
  margin-left: auto;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  .message-text-container {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
  }

  .message-text {
    border-radius: 2rem 2.8rem 0 2rem;
    margin-bottom: 5px;
    background: steelblue;
    color: white;
    border: 3px solid #306a9a;
  }

  .message-delete {
    margin-left: 5px;
  }

  button {
    margin-left: 0;
    padding: 0;
    &:hover {
      color: #306a9a;
    }
  }

  .message-time {
    font-size: 14px;
    line-height: 1;
    color: #717171;
    margin-left: auto;
  }
}
